services:
  vector:
    image: {{ vector_image }}
    container_name: vector
    restart: always
    volumes:
      - ./vector.yaml:/etc/vector/vector.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    environment:
      PROCFS_ROOT: /host/proc
      SYSFS_ROOT: /host/sys
